* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-section .home-content h1{
    justify-content: center;
    margin-left: 50%;    
}

.container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.container .product-card {
    max-width: 355px;
    width: 100%;
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container .product-card .logo-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .product-card .logo-cart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.container .product-card .logo-cart i {
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transform: color 0.3s ease;
}

.container .product-card .logo-cart i:hover {
    color: #333;
}

.container .product-card .main-images{
    position: relative;
    height: 210px;
}

.container .product-card .main-images img{
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transform: rotate(18deg);
    left: 12px;
    top: -40px;
    z-index: -1;
}

.container .product-card .food-details .food_name{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}

.color-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .product-card .color-price .price {
    display: flex;
    flex-direction: column;
    color: #707070;
}

.container .product-card .color-price .price .price_num {
    font-size: 25px;
    font-weight: 600;
}

.container .product-card .button {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
}

.container .product-card .button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}